:root {
  --gray: #545454;
  --white: #ffffff;
  --lightblue: #8dc2e6;
  --midblue: #2f9ed1;
  --darkblue: #00699e;
  --black: #000000;
  --lightgray: #eeeeee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
}

/* --- START NAVBAR STYLES --- */

.navbar_header {
  border-bottom: solid 2px var(--gray);
  position: fixed;
  top: 0;
}

.navbar_logo {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar_logo_image {
  width: 100px;
}

.navbar_logo a {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--gray);
}

.navbar_logo a:hover {
  color: var(--darkblue);
  transition: color 0.4s ease-out;
}

.navbar_header {
  background: var(--lightgray);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

nav {
  position: absolute;
  /* text-align: left; */
  text-align: center;
  top: 100%;
  /* Left: 0; */
  background: var(--lightgray);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 0.4s ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 2em;
  /* margin-left: 1em; */
  margin-left: 0;
}

nav a {
  color: var(--gray);
  text-decoration: none;
  font-size: 1.2em;
  text-transform: capitalize;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}

/* Menu icon animations */

.nav_toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav_toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 0.2s ease-in-out 0.2s;
}

.nav_toggle:checked ~ nav a:hover {
  color: var(--lightblue);
  transition: color 0.4s ease-out;
}

.navbar_nav {
  border-bottom: solid 2px var(--gray);
}

.nav_toggle {
  display: none;
}

.nav_toggle_label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav_toggle_label span,
.nav_toggle_label span::before,
.nav_toggle_label span::after {
  display: block;
  background: var(--gray);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
  transition: transform 0.4s ease-in-out, opacity 0.3s linear;
}

.nav_toggle_label span::before,
.nav_toggle_label span::after {
  content: "";
  position: absolute;
}

.nav_toggle_label span::before {
  bottom: 6px;
}
.nav_toggle_label span::after {
  top: 6px;
}

.nav_toggle:checked ~ .nav_toggle_label span {
  transform: rotate(45deg);
}

.nav_toggle:checked ~ .nav_toggle_label span::after {
  transform: rotate(90deg) translate(-6px);
}

.nav_toggle:checked ~ .nav_toggle_label span::before {
  opacity: 0;
}

.main_content {
  margin-top: 100px;
}

/* Adjustments for larger screens */

@media screen and (min-width: 1000px) {
  .main_content {
    margin-top: 102px;
  }

  .nav_toggle_label {
    display: none;
  }

  .navbar_nav {
    border: none;
  }

  .navbar_header {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  .navbar_logo {
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  /* Hover animations */

  nav a::before {
    content: "";
    display: block;
    height: 3px;
    background: var(--darkblue);
    position: absolute;
    bottom: -0.25em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 0.4s;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }

  nav a:hover {
    color: var(--darkblue);
    transition: color 0.4s ease-out;
  }
}

/* Adjustments for smaller screens */

@media screen and (max-width: 500px) {
  .main_content {
    margin-top: 82px;
  }

  .navbar_logo {
    font-size: 26px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1em;
  }

  #navbar_logo_image {
    width: 80px;
  }
}

@media screen and (max-width: 383px) {
  .main_content {
    margin-top: 67px;
  }

  .navbar_logo {
    font-size: 22px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1em;
  }

  #navbar_logo_image {
    width: 65px;
  }

  nav li {
    font-size: 15px;
  }
}

/* --- END NAVBAR STYLES --- */

/* --- START FOOTER STYLES --- */

.footer {
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  padding-bottom: 1em;
}

.footer_logo {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer_logo_image {
  width: 80px;
}

.footer_logo a {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--white);
}

.footer_slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-style: italic;
  font-size: 18x;
  overflow-wrap: anywhere;
  text-align: center;
  padding: 0 1em;
}

.footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

footer li a {
  text-decoration: none;
  color: var(--lightgray);
  position: relative;
  padding: 0 1em;
}

footer li a::before {
  content: "";
  display: block;
  height: 2px;
  background: var(--lightgray);
  position: absolute;
  bottom: -0.25em;
  left: 1em;
  right: 1em;
  transform: scale(1, 1);
  transition: transform ease-in-out 0.4s;
}

footer li a:hover::before {
  transform: scale(0, 1);
}

footer li a:hover {
  color: var(--white);
  transition: color 0.4s ease-out;
}

@media screen and (max-width: 550px) {
  .footer ul {
    flex-direction: column;
  }

  .footer_list {
    padding: 1em;
  }

  footer li {
    all: unset;
    padding-top: 1em;
  }

  #footer_li_home {
    padding-top: 0;
  }

  .footer_slogan {
    font-size: 15px;
  }
}

@media screen and (max-width: 430px) {
  .footer_slogan {
    padding: 0 4em;
    padding-top: 3px;
  }

  .footer_logo {
    font-size: 22px;
    display: flex;
    align-items: center;
    margin-right: 1em;
  }

  #footer_logo_image {
    width: 65px;
  }
}

/* --- END FOOTER STYLES --- */

/* --- START HOME STYLES */

.home_page_div {
  line-height: 1.5;
  color: var(--lightgray);
  font-size: 1.25rem;
}

.home_page_div h1,
.home_page_div h2,
.home_page_div h4 {
  font-weight: normal;
  line-height: 1;
}

.home_main_btn {
  cursor: pointer;
  display: inline-block;
  padding: 1em 1em;
  letter-spacing: 1px;
  color: var(--lightgray);
  text-decoration: none;
  margin-bottom: 1em;
  transition: background-color 0.5s ease-out;
  animation-name: contact_slide_up_on_load;
  opacity: 0;
  transform: translateY(50%);
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.under_home_title {
  margin-bottom: 2em;
  margin-top: 1em;
  padding: 0.5em;
  background-color: rgba(54, 54, 54, 0.75);
  animation-name: contact_slide_up_on_load;
  opacity: 0;
  transform: translateY(50%);
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.btn_filled {
  background-color: var(--darkblue);
  border: solid 2px var(--darkblue);
}

.home_main_btn:hover {
  background-color: var(--gray);
  color: var(--white);
}

.btn_outline {
  border: solid 2px var(--darkblue);
  background-color: rgba(54, 54, 54, 0.85);
}

.home_page_facts {
  background-color: var(--darkblue);
  color: var(--lightgray);
}

.home_page_main {
  padding: 3em 1em;
  background-image: url(../static/images/photos/grandma_and_teen_reading.jpg);
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
}

.home_title {
  font-size: 3rem;
  background-color: rgba(0, 105, 158, 0.85);
  padding: 0.25em;
  animation-name: home_slide_down_on_load;
  opacity: 0;
  transform: translateY(-50%);
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes home_slide_down_on_load {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.home_page_facts {
  text-align: center;
  line-height: 1.5;
  font-weight: normal;
  padding: 1rem;
}

.facts_learn_more_link {
  border: solid 2px var(--gray);
  background-color: var(--gray);
  cursor: pointer;
  display: inline-block;
  padding: 1em 1em;
  letter-spacing: 1px;
  color: var(--lightgray);
  text-decoration: none;
  margin-bottom: 1em;
  transition: background-color 0.5s ease-out;
  opacity: 0;
}

.facts_learn_more_link:hover {
  background-color: var(--lightblue);
  color: var(--gray);
}

.facts_learn_more_link.in_screen {
  animation: home_fade_in 1s ease-out;
  animation-fill-mode: forwards;
}

@keyframes home_fade_in {
  100% {
    opacity: 1;
  }
}

.card {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.6);
  transition: 0.4s;
  background-color: var(--gray);
}

.card:hover {
  box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.6);
}

.featured_fact {
  margin: 1em;
  width: 75%;
  padding: 1em;
  opacity: 0;
  transform: translateY(50%);
}

.featured_fact a {
  color: var(--lightgray);
  text-decoration: underline;
}

.featured_fact.in_screen {
  animation: contact_slide_up_on_load 1s ease-out;
  animation-fill-mode: forwards;
}

.facts_split {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.figure {
  font-size: 65px;
  padding-bottom: 0.5em;
}

.facts_ender {
  padding: 1em;
}

.facts_ender_div h4 {
  line-height: 1.5;
}

.facts_title {
  font-size: 35px;
  padding: 0.5em;
  transform: translateY(-50%);
  opacity: 0;
}

.facts_title.in_screen {
  animation: animate_down_h2 1s ease-out;
  animation-fill-mode: forwards;
}

@media (min-width: 470px) {
  .home_page_main {
    display: grid;
    justify-items: start;
    text-align: unset;
    grid-template-columns: 0 minmax(20rem, 35rem) minmax(1em, 1fr);
  }

  .home_page_main > * {
    grid-column: 2 / 3;
  }
}

@media (min-width: 960px) {
  .facts_split {
    flex-direction: row;
  }

  .facts_split .featured_fact {
    height: 320px;
  }
}

@media (min-width: 1000px) {
  .home_page_main {
    background-position: center right;
  }
}

/* --- END HOME STYLES */

/* --- START ABOUT US STYLES */

.about_us_page {
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--gray);
  overflow-x: hidden;
}

.about_us_page img {
  max-width: 100%;
  display: block;
}

.about_us_page h1,
.about_us_page h2,
.about_us_page h3,
.about_us_page h4 {
  line-height: 1;
  font-weight: normal;
  margin-bottom: 1em;
}

.about_us_page p {
  margin-bottom: 1em;
}

.about_text_center {
  text-align: center;
}

.about_header {
  border-bottom: solid 1px var(--gray);
}

.about_header h1 {
  margin-bottom: 0;
  animation-name: contact_slide_up_on_load;
  opacity: 0;
  transform: translateY(50%);
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.vision {
  background-color: var(--gray);
  border-bottom: solid 1px var(--gray);
  color: var(--lightgray);
  opacity: 0;
  animation-name: about_fade_in_on_load;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes about_fade_in_on_load {
  100% {
    opacity: 1;
  }
}

.goal {
  background-color: var(--darkblue);
  color: var(--lightgray);
  border-bottom: solid 1px var(--gray);
}

.sample_day {
  border-bottom: solid 1px var(--gray);
}

.our_name {
  background-color: var(--lightgray);
  border-bottom: solid 1px var(--gray);
}

.who_we_are {
  border-bottom: solid 1px var(--gray);
}

.our_team {
  background-color: var(--darkblue);
  color: var(--lightgray);
  display: flex;
}

.vision h2,
.goal h2,
.our_team h2 {
  color: var(--white);
}
.about_us_page section {
  padding: 3rem 0;
}

.about_us_page .container {
  margin-inline: auto;
  width: min(90%, 75rem);
}

.team_person h2 {
  margin-bottom: 0.25em;
  text-align: center;
}

.team_person h4 {
  margin-bottom: 1em;
  text-align: center;
}

.team_person img {
  margin-bottom: 1em;
}

.why_we_do_link a {
  text-decoration: none;
  color: var(--lightgray);
  border: solid 2px var(--gray);
  padding: 1rem;
  background-color: var(--gray);
  align-self: center;
}

.why_we_do_link a:hover {
  background-color: var(--lightblue);
  transition: background-color 0.4s ease-out;
  color: var(--gray);
}

.about_us_page .split {
  display: flex;
  flex-direction: column;
}

.who_we_are img {
  max-height: 470px;
}

.goal_col_2 p {
  margin-bottom: 2em;
}

.who_we_are .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.team_person {
  justify-content: center;
  align-items: center;
}

.team_person_split {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fade_in {
  opacity: 0;
}

.fade_in.in_screen {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.down_in_place {
  opacity: 0;
  transform: translateY(-100%);
}

.down_in_place.in_screen {
  animation: animate_down_h2 1s ease-out;
  animation-fill-mode: forwards;
}

@keyframes animate_down_h2 {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.our_name_logo_div .side_in_place {
  opacity: 0;
  transform: translateX(-25%);
}

.our_name_logo_div .side_in_place.in_screen {
  animation: image_animate_from_left 1s ease-out;
  animation-fill-mode: forwards;
}

@keyframes image_animate_from_left {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.nhs_logo_div .side_in_place {
  opacity: 0;
  transform: translateX(25%);
}

.nhs_logo_div .side_in_place.in_screen {
  animation: image_animate_from_right 1s ease-out;
  animation-fill-mode: forwards;
}

@keyframes image_animate_from_right {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 740px) {
  .about_us_page .split {
    flex-direction: row;
    align-items: center;
  }

  .about_us_page .split > * {
    flex-basis: 100%;
  }

  .about_us_page .split > * + * {
    margin-left: 2em;
  }

  .about_us_page section {
    padding: 4rem 0;
  }

  .goal .split {
    align-items: normal;
  }

  .sample_day .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sample_schedule {
    width: min(100%, 875px);
  }

  .team_person_split {
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    justify-content: unset;
  }

  .team_person_img_div {
    grid-column: 2 / 3;
  }
}

@media (max-width: 740px) {
  .our_name_image {
    margin-bottom: 2em;
  }

  .about_us_page h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }

  .why_we_do_link {
    text-align: center;
  }
}

/* --- END ABOUT US STYLES */

/* --- START OUR MISSION STYLES */

.read_more_mission {
  text-align: center;
  font-weight: normal;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 1em;
  padding-left: 1em;
}

.medium_widget_class {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 2em;
}

@media (max-width: 700px) {
  .medium_widget_class {
    padding-left: 0%;
    padding-right: 0%;
  }
}

/* --- END OUR MISSION STYLES */

/* --- START GALLERY STYLES */

.image_gallery_page h1,
.image_gallery_page h3 {
  font-weight: normal;
  animation-name: contact_slide_up_on_load;
  opacity: 0;
  transform: translateY(40%);
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  padding: 0 1em;
  color: var(--gray);
}

.image_gallery_page h1 {
  padding-bottom: 0.5em;
}

.image_gallery_welcome_text {
  padding: 3rem 0;
  margin-bottom: 5px;
  text-align: center;
  border-bottom: solid 1px var(--gray);
}

.gallery_images {
  line-height: 0;
  column-count: 5;
  column-gap: 5px;
  width: 100%;
  justify-self: center;
}

.gallery_images img {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

@media (min-width: 1001px) {
  .gallery_images {
    column-count: 4;
  }
}

@media (max-width: 1000px) {
  .gallery_images {
    column-count: 3;
  }
}

@media (max-width: 800px) {
  .gallery_images {
    column-count: 2;
  }
}

@media (max-width: 400px) {
  .gallery_images {
    column-count: 1;
  }
}

/* --- END GALLERY STYLES */

/* --- START CONTACT STYLES */

.contact_us_page {
  color: var(--gray);
}

.rest_of_contact_page {
  animation-name: about_fade_in_on_load;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.contact_header {
  padding: 3rem 1em;
  text-align: center;
  border-bottom: solid 1px var(--gray);
}

.contact_header h1,
.contact_header h3 {
  animation-name: contact_slide_up_on_load;
  opacity: 0;
  transform: translateY(40%);
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes contact_slide_up_on_load {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.contact_header_text {
  font-weight: normal;
  font-size: 28.8px;
}

.contact_header_h3 {
  padding-top: 1em;
  font-weight: normal;
  margin: 0 3rem;
  line-height: 1.6;
}

.nhs_social_contact h3 {
  font-weight: normal;
  padding: 1em;
  text-align: center;
}

.email_contact_div {
  display: grid;
  grid-template-columns: 30% 20% 20% 30%;
  padding: 1em;
  align-items: center;
  margin-top: 1em;
}

.email_contact_div img {
  width: 50px;
  grid-column: 2 / 3;
}

.social_contact_div {
  display: grid;
  grid-template-columns: 30% 20% 20% 30%;
  padding: 1em;
  align-items: center;
}

.twitter_text_link,
.instagram_text_link {
  font-size: 19px;
  text-decoration: underline;
  color: var(--gray);
}

.twitter_text_link:hover,
.instagram_text_link:hover {
  color: var(--darkblue);
  transition: color 0.5s ease-out;
}

.social_contact_div a {
  grid-column: 2 / 3;
}

.social_contact_div img {
  width: 50px;
}

@media (max-width: 760px) {
  .contact_header_h3 {
    margin: 0 0;
  }

  .email_contact_div {
    grid-template-columns: auto auto auto auto;
  }
}

/* --- END CONTACT STYLES */
