{% extends "layout_template.html" %}


{% block main %}
<div class="about_us_page">
    <section class="about_header about_text_center">
        <div class="container">
            <h1 class="about_header_text">&#8212 About Us &#8212</h1>
        </div>
    </section>
    
    <section class="vision">
        <div class="container">
            <div class="split">
                <div>
                    <h2>Our Vision</h2>
                    <p>Project Blue Star seeks to improve the lives of seniors in Central Minnesota. This includes all aspects of a healthy life (physical, mental and emotional). We believe that our work can make a lasting impact on the most vulnerable members of our community.</p>
                </div>
                <div>
                    <img src="static\images\photos\Unsplash Old Couple Hug.jpg" alt="lady sitting in front of shrubs looking at camera">
                </div>
            </div>
        </div>
    </section>
    
    <section class="goal">
        <div class="container">
            <h2 class="about_text_center down_in_place">Our Goal</h2>
            <div class="split">
                <div>
                    <p>As high school students, our goal is to engage with senior citizens by holding monthly sessions in senior facilities. At these sessions, residents have the opportunity to participate in mentally engaging activities alongside student volunteers.</p>
                </div>
                <div class="goal_col_2">
                    <p>We emphasize interaction and conversation between students and seniors, a simple activity shown to alleviate feelings of loneliness.</p>
                    <div class="why_we_do_link">
                        <a href="{{ url_for('our_mission') }}" class="fade_in">Learn More &#8594</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="sample_day">
        <div class="container">
            <h2 class="about_text_center down_in_place">Sample Day/Activities</h2>
            <img src="static\images\photos\sample_day.png" alt="sample day schedule" class="sample_schedule">
        </div>
    </section>
    
    <section class="our_name">
        <div class="container">
            <div class="split">
                <div class="our_name_logo_div">
                    <img src="static\images\logos\Cropped Outer TR Project Blue Star 3.png" alt="project blue star logo" class="our_name_image side_in_place">
                </div>
                <div>
                    <h2 class="down_in_place">Our Name</h2>
                    <p>The Blue Star Lotus is a symbol of rebirth &#8212 a connection between young and old. Given our mission to connect students and seniors, it only fit to name our organization after this symbolic flower.</p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="who_we_are">
        <div class="container">
            <div class="split">
                <div>
                    <h2 class="down_in_place">Who We Are</h2>
                    <p">This organization was founded by National Honor Society members at Technical High School in St. Cloud. The entire organization is based on the NHS values of service, volunteerism, and character.</p>
                </div>
                <div class="nhs_logo_div">
                    <img src="static\images\photos\NHS Logo.jpg" alt="NHS logo" class="side_in_place">
                </div>
            </div>
        </div>
    </section>
    
    <section class="our_team">
        <div class="container">
            <h2 class="about_text_center down_in_place">Our Leadership Team</h2>
            <!-- Pictures MUST be cropped to 750 x 999 before deploying to website -->
            <div class="team_person">
                <div class="team_person_split">
                    <div class="team_person_img_div">
                        <img src="static\images\photos\Profile Picture Holder.png">
                    </div>
                    <div class="fade_in">
                        <h2>Fyzeen Ahmad</h2>
                        <h4>Founder, Director</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block page_javascript %}

<script src="static\JavaScript\about_us.js"></script>

{% endblock %}