{% extends "layout_template.html" %}


{% block main %}
<div class="about_us_page">
    <section class="about_header about_text_center">
        <div class="container">
            <h1 class="about_header_text">&#8212 About Us &#8212</h1>
        </div>
    </section>
    
    <section class="vision">
        <div class="container">
            <div class="split">
                <div>
                    <h2 class="down_in_place">Our Vision</h2>
                    <p>Project Blue Star seeks to increase connection between students and seniors. We believe that building love and understanding through meaningful intergenerational interactions can end social isolation and loneliness.</p>
                </div>
                <div>
                    <img src="static/images/gallery_photos/IMG_2021.JPG">
                </div>
            </div>
        </div>
    </section>


    <section class="goal">
        <div class="container">
            <h2 class="about_text_center down_in_place">Our Goal</h2>
            <div class="split">
                <div>
                    <p>As high school and university students, our goal is to engage with senior citizens by holding sessions in community venues. At these sessions, seniors and students enjoy time together listening/creating music and participating in various unstructured activities.</p>
                </div>
                <div class="goal_col_2">
                    <p>We emphasize meaningful conversation between students and seniors, a simple activity shown to alleviate feelings of loneliness.</p>
                    <div class="why_we_do_link">
                        <a href="{{ url_for('our_mission') }}" class="fade_in">Learn More &#8594</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="our_name">
        <div class="container">
            <h2 class="about_text_center down_in_place">Our Programs</h2>
            <div class="split">
                <div class="our_name_logo_div">
                    <a href="https://www.google.com/" target="_blank"><img src="static/images/logos/SCLogoBlack.png" class="side_in_place" width="400"></a>
                </div>

                <div class="nhs_logo_div">
                    <p></p>
                    <img src="static/images/logos/SoundsofSundayLogo.png" class="side_in_place" width="700">
                </div>
            </div>
        </div>
    </section>

    
    <section class="sample_day">
        <div class="container">
            <h2 class="about_text_center down_in_place">Sample Session Schedule</h2>
            <img src="static\images\photos\sample_day.png" alt="sample day schedule" class="sample_schedule">
        </div>
    </section>



    <section class="our_name">
        <div class="container">
            <div class="split">
                <div class="our_name_logo_div">
                    <img src="static\images\logos\Cropped Outer TR Project Blue Star 3.png" alt="project blue star logo" class="our_name_image side_in_place">
                </div>
                <div>
                    <h2 class="down_in_place">Our Name</h2>
                    <p>The Blue Star Lotus is a symbol of rebirth &#8212 a connection between young and old. Given our mission to connect students and seniors, it only fit to name our organization after this symbolic flower.</p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="who_we_are">
        <div class="container">
            <div class="split">
                <div>
                    <h2 class="down_in_place">Who We Are</h2>
                    <p">This organization was founded in 2021 by National Honor Society members and music students at Technical High School in St. Cloud, MN. We have since grown to include student volunteers from various organizations and schools throughout Minnesota.</p>
                </div>
                <div class="nhs_logo_div">
                    <img src="static/images/gallery_photos/IMG_2020.JPG" class="side_in_place">
                </div>
            </div>
        </div>
    </section>
    
    <section class="our_team">
        <div class="container">
            <h2 class="about_text_center down_in_place">Our Leadership Team</h2>
            <!-- Pictures MUST be cropped to 194 x 259 before deploying to website -->
            <div class="team_person">
                <div class="team_person_split">
                    <div class="team_person_img_div">
                        <img src="static/images/photos/Ahmad_Director.jpeg">
                    </div>
                    <div class="fade_in">
                        <h2>Fyzeen Ahmad</h2>
                        <h4>Founder, Director</h4>
                        <h4><a href="mailto:fyzeen.ahmad@gmail.com" style="color: var(--white)">fyzeen.ahmad@gmail.com</a></h4>
                    </div>
                </div>
            </div>
            <div class="team_person">
                <div class="team_person_split">
                    <div class="team_person_img_div">
                        <img src="static/images/photos/india_ratha.jpeg">
                    </div>
                    <div class="fade_in">
                        <h2>India Ratha</h2>
                        <h4>Organizer - Tech High School</h4>
                        <h4><a href="mailto:indiabratha@gmail.com" style="color: var(--white)">indiabratha@gmail.com</a></h4>
                    </div>
                </div>
            </div>
    </section>
</div>

{% endblock %}

{% block page_javascript %}

<script src="static\JavaScript\about_us.js"></script>

{% endblock %}