{% extends "layout_template.html" %}


{% block main %}

<div class="contact_us_page">
    <section class="contact_header">
        <h1 class="contact_header_text">&#8212 Contact Us &#8212</h1>
        <h3 class="contact_header_h3">If you are an interested community organization or senior home, Project Blue Star would love to hear from you! For all general inquiries, use one of the contact methods listed below. To get in contact with specific members of our team, view the "About Us" page.</h3>
    </section>
    <section class="rest_of_contact_page">
        <div class="email_contact_div">
            <img src="static\images\icons\email_icon.png" class="mail_icon">
            <a href="mailto:oneprojectbluestar@gmail.com" target="_blank">oneprojectbluestar@gmail.com</a>
        </div>
        <div class="social_contact_logos">
            <div class="nhs_social_contact">
                <h3>Contact Us Through Tech High School's NHS Social Media:</h3>
                <div class="social_contact_div">
                    <a href="https://twitter.com/technhs1"><img src="static\images\icons\twitter_logo.png" class="twitter_img"></a>
                    <p><a href="https://twitter.com/technhs1" class="twitter_text_link">Twitter</a></p>
                </div>
                <div class="social_contact_div">
                    <a href="https://www.instagram.com/tech_nhs1/"><img src="static\images\icons\instagram_logo.png"></a>
                    <p><a href="https://www.instagram.com/tech_nhs1/" class="instagram_text_link">Instagram</a></p>                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}


{% block page_javascript %}
{% endblock %}