{% extends "layout_template.html" %}

{% block main %}

<div class="image_gallery_page">

    <div class="image_gallery_welcome_text">
        <h1>Welcome To Our Image Gallery!</h1>
        <h3>See photos from our latest events: (More coming soon!)</h3>
    </div>
    <div class="gallery_images">
        <!-- Add images here -->
        <img src="static\images\gallery_photos\IMG_1162.jpg">
        <img src="static\images\gallery_photos\IMG_1160.jpg">
        <img src="static\images\gallery_photos\IMG_1158.jpg">
        <img src="static\images\logos\TR Project Blue Star 3.png">
        <img src="static\images\gallery_photos\IMG_1156.jpg">
    </div>
</div>

{% endblock %}

{% block page_javascript %}
{% endblock %}
