{% extends "layout_template.html" %}

{% block main %}

<div class="image_gallery_page">

    <div class="image_gallery_welcome_text">
        <h1>Welcome To Our Image Gallery!</h1>
        <h3>See photos from our latest events: (More coming soon!)</h3>
    </div>
    <div class="gallery_images">
        <!-- Add images here -->
        <img src="static\images\gallery_photos\79DAE059-02CB-4637-A71C-1356369C5218.JPG">
        <img src="static\images\gallery_photos\D2E279CF-106B-489B-B597-79BE61FCBF3B.JPG">
        <img src="static\images\gallery_photos\E92D8217-F191-4CBC-82BF-2A4F5455E925.JPG">
        <img src="static\images\gallery_photos\71B20B3D-FC06-4260-8067-6C9852942C1C.JPG">
        <img src="static\images\gallery_photos\IMG_1860.jpg">
        <img src="static\images\gallery_photos\IMG_1861.jpg">
        <img src="static\images\gallery_photos\IMG_1862.jpg">
        <img src="static\images\gallery_photos\IMG_1864.jpg">
        <img src="static\images\gallery_photos\IMG_4028.jpg">
        <img src="static\images\gallery_photos\IMG_1162.jpg">
        <img src="static\images\gallery_photos\IMG_1160.jpg">
        <img src="static\images\gallery_photos\IMG_1158.jpg">
        <img src="static\images\gallery_photos\D27CA261-33FC-4181-86FB-941AB228FA02.JPG">
        <img src="static\images\gallery_photos\IMG_1156.jpg">
        <!-- <img src="static\images\logos\TR Project Blue Star 3.png"> -->
    </div>
</div>

{% endblock %}

{% block page_javascript %}
{% endblock %}
