{% extends "layout_template.html" %}

{% block main %}
 
<div class="home_page_div">
    <section class="home_page_main">
        <h1 class="home_title">Welcome to Project Blue Star</h1>
        <p class="under_home_title">We are students seeking to engage senior citizens in Central Minnesota. </p>
        <a href="{{ url_for ('about_us') }}" class="home_main_btn btn_filled">About Us</a>
        <a href="{{ url_for ('contact_us') }}" class="home_main_btn btn_outline">Get In Touch</a>
    </section>
    <section class="home_page_facts" id="sounds_of_sunday_vid">
        <div class="facts_container">
            <h2 class="facts_title home_slide_in">Check out this video about what we do!</h2>
            <div class="iframe_container">
                <iframe src="https://www.youtube-nocookie.com/embed/_6FihjsfQK8?autoplay=1" width="560" height="315" frameborder="0"></iframe>
            </div>
        </div>
    </section>
    <section class="about_us_page stc_article">
        <div class="container">
            <div class="split">
                <div>
                    <h2>Read About Us!</h2>
                    <p>The St. Cloud Times did an article about Project Blue Star and our Sounds of Sunday sessions! You can read the article by clicking <a style="white-space:nowrap; font-size: 1.3em;" target="_blank" href="https://www.sctimes.com/story/news/2022/03/05/st-cloud-tech-high-student-uses-music-connect-students-seniors-project-blue-star/9330228002/">HERE</a>.</p>
                </div>
                <div>
                    <a href="https://www.sctimes.com/story/news/2022/03/05/st-cloud-tech-high-student-uses-music-connect-students-seniors-project-blue-star/9330228002/"  target="_blank"><img src="static\images\icons\SCTimesLogo.png"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="home_page_facts" id="facts">
        <div class="facts_container">
            <h2 class="facts_title home_slide_in">Did you know...</h2>
            <div class="facts_split">
                <div class="featured_fact card home_slide_in">
                    <div class="inside_fact_card">
                        <h1 class="figure">56%</h1>
                        <p class="fact_details">of older adults reported feeling isolated in June 2020 (<a href="https://deepblue.lib.umich.edu/bitstream/handle/2027.42/162549/0212_NPHA-loneliness-report-FINAL-09112020-handle.pdf?sequence=5&isAllowed=y" target="_blank" rel="noopener noreferrer">University of Michigan</a>).</p>
                    </div inside_fact_card>
                </div>
                <div class="featured_fact card home_slide_in">
                    <div class="inside_fact_card">
                        <h1 class="figure">4%</h1>
                        <p class="fact_details">of all dementia cases can be prevented by reducing social isolation (<a href="https://www.thelancet.com/article/S0140-6736(20)30367-6/fulltext" target="_blank" rel="noopener noreferrer">The Lancet Commission</a>).</p>
                    </div inside_fact_card>
                </div>
                <div class="featured_fact card home_slide_in">
                    <div class="inside_fact_card">
                        <h1 class="figure">40%+</h1>
                        <p class="fact_details">increased risk of dementia, depression, and anxiety when older adults are isolated (<a href="https://www.cdc.gov/aging/publications/features/lonely-older-adults.html" target="_blank" rel="noopener noreferrer">National Academies of Sciences</a>).</p>
                    </div inside_fact_card>
                </div>
            </div>
            <div class="facts_ender_div">
                <h4 class="facts_ender">At Project Blue Star, we recognize the importance of decreasing senior loneliness in our community.</h4>
                <a href="{{ url_for ('our_mission') }}" class="facts_learn_more_link home_slide_in">Learn More &#8594</a>
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block page_javascript %}

<script src="static\JavaScript\home.js"></script>

{% endblock %}