{% extends "layout_template.html" %}

{% block main %}
 
<div class="home_page_div">
    <section class="home_page_main">
        <h1 class="home_title">Welcome to Project Blue Star</h1>
        <p class="under_home_title">We engage students and seniors through music and intergenerational interactions.</p>
        <a href="{{ url_for ('about_us') }}" class="home_main_btn btn_filled">About Us</a>
        <a href="{{ url_for ('contact_us') }}" class="home_main_btn btn_outline">Get In Touch</a>
    </section>
    <section class="home_page_facts" id="sounds_of_sunday_vid">
        <div class="facts_container">
            <h2 class="facts_title home_slide_in">Check out this video about what we do!</h2>
            <div class="iframe_container">
                <iframe src="https://www.youtube-nocookie.com/embed/_6FihjsfQK8?autoplay=1" width="560" height="315" frameborder="0"></iframe>
            </div>
        </div>
    </section>
    <section class="about_us_page stc_article">
        <div class="container">
            <div class="split">
                <div>
                    <h2>Read About Us!</h2>
                    <p>The St. Cloud Times did an article about Project Blue Star and our Sounds of Sunday sessions! You can read the article by clicking <a style="white-space:nowrap; font-size: 1.3em;" target="_blank" href="https://www.sctimes.com/story/news/2022/03/05/st-cloud-tech-high-student-uses-music-connect-students-seniors-project-blue-star/9330228002/">HERE</a>.</p>
                </div>
                <div>
                    <a href="https://www.sctimes.com/story/news/2022/03/05/st-cloud-tech-high-student-uses-music-connect-students-seniors-project-blue-star/9330228002/"  target="_blank"><img src="static\images\icons\SCTimesLogo.png"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="home_page_facts" id="facts">
        <div class="facts_container">
            <h2 class="facts_title home_slide_in">Did you know...</h2>
            <div class="facts_split">
                <div class="featured_fact card home_slide_in">
                    <div class="inside_fact_card">
                        <h1 class="figure">56%</h1>
                        <p class="fact_details">of older adults reported feeling isolated in June 2020 (<a href="https://deepblue.lib.umich.edu/bitstream/handle/2027.42/162549/0212_NPHA-loneliness-report-FINAL-09112020-handle.pdf?sequence=5&isAllowed=y" target="_blank" rel="noopener noreferrer">University of Michigan</a>).</p>
                    </div inside_fact_card>
                </div>
                <div class="featured_fact card home_slide_in">
                    <div class="inside_fact_card">
                        <h1 class="figure">100%</h1>
                        <p class="fact_details">of intergenerational programs can alleviate loneliness but remain uncommon in most communities (<a href="https://extension.missouri.edu/publications/gh6710" target="_blank" rel="noopener noreferrer">University of Missouri</a>).</p>
                    </div inside_fact_card>
                </div>
                <div class="featured_fact card home_slide_in">
                    <div class="inside_fact_card">
                        <h1 class="figure">40%+</h1>
                        <p class="fact_details">increased risk of depression and anxiety when adults are isolated (<a href="https://www.cdc.gov/aging/publications/features/lonely-older-adults.html" target="_blank" rel="noopener noreferrer">National Academies of Sciences</a>).</p>
                    </div inside_fact_card>
                </div>
            </div>
            <div class="facts_ender_div">
                <h4 class="facts_ender">At Project Blue Star, we recognize the importance of decreasing loneliness in our community.</h4>
                <a href="{{ url_for ('our_mission') }}" class="facts_learn_more_link home_slide_in">Learn More &#8594</a>
            </div>
        </div>
    </section>
</div>
<div class="our_partners_container">
    <h2 class="partners_title home_slide_in">Our Partners</h2>
    <section class="partner_logos slider">
        <div class="slide"><img src="static/images/photos/partner_logos/Tech_Logo.jpeg"><a href="https://www.isd742.org/tech" target="_blank"><h3 class="partners_label">St. Cloud Techinical HS</h3></a></div>
        <div class="slide"><img src="static/images/photos/partner_logos/CMCOA_Logo.jpeg"><a href="http://www.cmcoa.org/" target="_blank"><h3 class="partners_label">CMCOA Coalition to End Social Isolation and Loneliness</h3></a></div>
        <div class="slide"><img src="static/images/photos/partner_logos/country_manor_logo2.jpeg"><a href="https://www.countrymanorcampus.org/" target="_blank"><h3 class="partners_label">Country Manor</h3></a></div>
        <div class="slide"><img src="static/images/photos/partner_logos/pillars_of_prospect.png"><a href="https://pillarsseniorliving.com/prospectpark/?gclid=CjwKCAiAhKycBhAQEiwAgf19ehyBQJ_CgXdgosV78Motjh6-SuQo8w2xaLfDg2xAWZ7mg5uff5RHMBoCnOoQAvD_BwE" target="_blank"><h3 class="partners_label">Pillars of Prospect Park</h3></a></div>
        <div class="slide"><img src="static/images/photos/partner_logos/CHAI_logo.jpeg"><a href="https://www.sph.umn.edu/research/centers/chai/" target="_blank"><h3 class="partners_label">UMN Center for Healthy Aging and Innovation</h3></a></div>
    </section>
</div>

{% endblock %}

{% block page_javascript %}

<script src="static\JavaScript\home.js"></script>
<script src="static/JavaScript/partner_carousel.js"></script>

{% endblock %}