<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Project Blue Star | {{ title }}</title>
    <link rel="icon" href="static\images\logos\Favicon Outer TR Project Blue Star 3.ico">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">

    <link href="{{ url_for('static', filename='styles.css')}} " rel="stylesheet">

</head>
<body>
    <div class="navbar">
        <header class=navbar_header> 
            <div class="navbar_logo">
                <img src="static\images\logos\Outer TR Project Blue Star 3.png" id=navbar_logo_image>
                <a href="{{ url_for('home') }}" id="navbar_logo_text">Project Blue Star</a>
            </div>
            <input type="checkbox" id="nav_toggle" class="nav_toggle"> 
            <nav class="navbar_nav">
                <ul>
                    <li><a href="{{ url_for('about_us') }}">About Us</a></li>
                    <li><a href="{{ url_for('our_mission') }}">Our Mission</a></li>
                    <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
                    <li><a href="{{ url_for('contact_us') }}">Contact Us</a></li>
                </ul>
            </nav>
            <label for="nav_toggle" class="nav_toggle_label">
                <span class="nav_toggle_span"></span>
            </label>
        </header>
    </div>

    <div class="main_content">
        {% block main %}{% endblock %}
    </div>

    <footer class="footer"> 
        <div class="footer_logo">
            <img src="static\images\logos\Outer TR Project Blue Star 3.png" id=footer_logo_image>
            <a href="{{ url_for('home') }}" id="footer_logo_text">Project Blue Star</a>
        </div>
        <div class="footer_slogan">"Connecting the Minds of Students and Seniors"</div>
        <ul class="footer_list">
            <li id=footer_li_home><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about_us') }}">About Us</a></li>
            <li><a href="{{ url_for('our_mission') }}">Our Mission</a></li>
            <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
            <li><a href="{{ url_for('contact_us') }}">Contact Us</a></li>
        </ul>
    </footer>

    {% block page_javascript %}{% endblock %}
</body>
</html>